*{
    margin: 0px;
    padding: 0px;
}

.user-item:hover {
    background-color: #f1f1f1;
    transition: background-color 0.2s ease;
  }
  .user-item.active {
    background-color: #007bff !important;
    color: white;
  }